/* #region BASE */
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  margin: 0;
  padding-bottom: 3.35rem;
  position: relative;
  overflow-x: hidden;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* #endregion BASE */

/* #region COMMON */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/* .container {
  max-width: 26.78rem;
  margin: 0 auto;
  padding: 0 1.14rem;
} */

.section {
  padding: 1.43rem 0;
}
/* #endregion COMMON */

/* #region HEADER */
.header {
  padding: 4.1rem 1.1rem 2rem;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0.71rem;
  background-color: whitesmoke;
}

.header__logotype {
  font-weight: 400;
  font-size: 2rem;
  color: rgb(0, 161, 201);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.71rem;
}

.header__input-box {
  position: relative;
  width: 100%;
}

.header__search {
  width: 100%;
  padding: 1.07rem 0 1rem 3.42rem;
  background-color: rgb(0, 161, 201);
  border: transparent;
  border-radius: 0.57rem;
  color: rgb(0, 0, 0);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.header__search::placeholder {
  color: rgba(226, 226, 226, 0.911);
}

.header__search:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
}

.header__search:focus::placeholder {
  color: rgb(0, 161, 201);
}

.header__search-icon {
  position: absolute;
  top: 50%;
  left: 1.07rem;
  transform: translateY(-50%);
  transition: fill 0.2s ease-in-out;
}

.header__search-icon use {
  stroke: rgb(255, 255, 255);
  fill: rgb(0, 161, 201);
}

.header__input-box:focus-within .header__search-icon use {
  stroke: rgb(0, 161, 201);
  fill: rgb(255, 255, 255);
}

/* #endregion HEADER */

/* #region SALES */

.sales {
  display: flex;
  justify-content: center;
}

.sales__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.sales__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.sales__item {
  padding: 0.14rem;
  display: flex;
  scroll-snap-align: start;
}

.sales__image {
  max-width: 15.71rem;
  min-width: 5.9rem;
  object-fit: cover;
  border-radius: 0.35rem;
}

/* #endregion SALES */

/* #region CATALOG */

.catalog {
  padding-bottom: 0;
  padding-left: 0.8rem;
}

.catalog-box-b {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.catalog-btn-icon {
  stroke: white;
  fill: white;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translateY(-50%);
}
.catalog-button {
  padding: 1.07rem;
  border-radius: 0.57rem;
  border: transparent;
  background-color: rgb(0, 161, 201);
  color: white;
  width: 100%;
}

.catalog__list {
  padding: 1.42rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 0.71rem;
}

.catalog__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.catalog__item {
  display: flex;
  width: 6rem;
  flex-shrink: 0;
  flex-grow: 0;
  scroll-snap-align: start;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.catalog__link {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.71rem;
  padding: 1.78rem 0.71rem;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #000;
  text-align: center;
}
.catalog__icon {
  fill: rgb(0, 161, 201);
  pointer-events: none;
}

/* #endregion CATALOG */

/* #region SHARE */

.shares__title {
  font-size: 1.42rem;
  font-weight: 500;
  color: black;
  background-color: #dbdbdb59;
  padding: 1rem;
}

.shares__list {
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid rgb(0, 161, 201);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.shares__list::-webkit-scrollbar {
  display: none;
}

.shares__item {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.42rem;
  width: calc((100%) / 2);
  flex-shrink: 0;
  scroll-snap-align: start;
}

.shares-item-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shares__image {
  object-fit: contain;
  width: 100%;
  min-height: 9.6rem;
  max-height: 18.92rem;
}

.shares__color-list {
  display: flex;
  justify-content: center;
  gap: 0.42rem;
}

.shares__color-item {
  width: 1.07rem;
  height: 1.07rem;
  outline: 0.14rem solid #e4e4e4;
  border-radius: 50%;
  background-color: #ffffff;
}

.shares__name {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  min-height: 3rem;
  width: 100%;
}

.shares__action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

@media (min-width: 600px) {
  .shares__action,
  .shares__info {
    padding: 0 50px;
  }
}

.shares__price--discount {
  white-space: nowrap;
  font-size: 1.7rem;
  font-weight: 700;
}
.shares__price span {
  font-size: 0.7rem;
  position: absolute;
  transform: translateY(-0.78rem);
  padding: 0.1rem 0.3rem;
  background-color: #f30606c0;
  border-radius: 35%;
  color: white;
}

.shares__price--original {
  text-decoration: line-through;
  font-size: 0.85rem;
  color: rgb(163, 163, 163);
  font-weight: 500;
}

.shares__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shares__stock {
  align-self: center;
}

.shares__like-icon {
  align-self: center;
}
.shares__button-box {
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 48px;
  height: 100%;
  display: flex;
}

.shares__button-box svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shares-basket-btn use {
  stroke: #ffffff;
  fill: white;
  stroke-width: 1.5;
}

.shares__button {
  width: 100%;
  background-color: rgb(0, 161, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: transparent;
  color: white;
}

/* #endregion SHARE */

/* #region CRUMBS */

.filter-nav {
  padding: 1rem;
}

.filter-list {
  display: flex;
  gap: 0.35rem;
  margin-bottom: 2.28rem;
}

.filter-link {
  display: flex;
  color: rgb(161, 161, 161);
}

.filter-link .actually-place {
  color: rgb(41, 40, 40);
}

.go-back {
  display: flex;
  align-items: center;
}

.actually-catalog-box {
  display: flex;
  gap: 1rem;
}

/* #endregion CRUMBS */

/* #region PRODUCTS */
.products {
  background-color: rgb(255, 255, 255);
}
.filters {
  display: flex;
  justify-content: flex-end;
  gap: 1.07rem;
  padding: 0.7rem;
  background-color: whitesmoke;
}

.filters__item--arrow {
  padding: 0.5rem;
  border-radius: 0.35rem;
  outline: 1px solid gray;
  display: flex;
  align-items: center;
}
.filters__svg {
  fill: white;
}
.filters__svg--black {
  fill: black;
}
.filters__item--filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: rgb(255, 145, 0);
  border-radius: 0.35rem;
  color: white;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.shares__item {
  outline: 1px solid rgba(128, 128, 128, 0.164);
}

/* #endregion PRODUCTS */

/* #region MOBILE MENU */

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgba(89, 0, 255, 0.151);
  box-shadow: rgb(0, 161, 201, 0.658) 0px 5px 15px;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
  gap: 5px;
}
.menu__icon {
  pointer-events: none;
}

/* #endregion MOBILE MENU */

/* #region MODAL CATALOG */

.modal__overlay {
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: auto;
  transition: transform 400ms cubic-bezier(0.51, 0.5, 0.24, 1.15);
  transform: translateY(100%);
  overflow-y: auto;
  padding-bottom: 61px;
}

.menu__is-open {
  pointer-events: all;
  transform: translateY(0%);
}

.modal__search-form {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.modal__search-wrapper {
  position: relative;
  width: 100%;
}
.modal__search-input {
  width: 100%;
  padding: 14px 15px;
  background-color: rgb(0, 161, 201);
  border: transparent;
  border-radius: 8px;
  color: white;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  outline: transparent;
}

.modal__search-input:focus {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(0, 161, 201);
}

.modal__search-input:focus::placeholder {
  color: rgb(0, 161, 201);
}

.modal__search-input::placeholder {
  color: #ffffff;
}

.modal__search-button {
  background-color: rgb(0, 161, 201);
  border-radius: 8px;

  outline: transparent;
  border: transparent;
  position: absolute;
  right: 0;
  height: 100%;
  width: 46.39px;
}

.modal__search-icon {
}

.modal__search-icon use {
  stroke: rgb(0, 161, 201);
  fill: rgb(255, 255, 255);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.modal__search-wrapper:focus-within .modal__search-icon use {
  stroke: rgb(255, 255, 255);
  fill: rgb(0, 161, 201);
}
.modal__catalog-link {
  color: black;
  font-size: clamp(12px, 4vw, 18px);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  position: relative;
}

.modal__catalog-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
}

.modal__catalog-icon {
  margin-right: 20px;
  fill: rgb(0, 161, 201);
}

.modal__catalog-arrow {
  margin-left: auto;
}

/* #endregion MODAL CATALOG */
